# App details
APP_URL=
APP_PORT=3000

# Finhub API key
FINHUB_API_KEY=

# Heroku AppLink details
HEROKU_APP_ID=
HEROKU_APPLINK_API_URL=
HEROKU_APPLINK_TOKEN=

# Agentforce details
AGENTFORCE_AGENT_ID=